body{
      min-height: 100vh;
      background: linear-gradient(300deg, #00ff40, #ff2d4c, #4b2eef);
      background-size: 200% 200%;
      animation: gradient-animation 15s ease infinite;
    }

    @keyframes gradient-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 95% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .hero-details h1{
      font-size: 3rem;
      color: #ffffff;
    }
    
    .hero-details h4{
      color: rgb(0, 0, 0);
    }

    .hero-details a{
      text-decoration: none;
      color: white;
    }

    .pic-1{
      rotate: -7deg;
      z-index: -1;
    }

    /*-------------skils----------------*/
    .logos{
      overflow: hidden;
      padding: 40px 0;
      background-color: transparent;
      white-space: nowrap;
      position: relative;
    }

    .logos::before,.logos::after{
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
    }

    .logos::after{
      right: 0;
      background: linear-gradient(to left, rgb(255, 255, 255),rgba(255, 255, 255, 0));
    }

    .logos::before{
      left: 0;
      background: linear-gradient(to right, rgb(255, 255, 255),rgba(255, 255, 255, 0));
    }

    .logos-slide{
      display: inline-block;
      animation: 20s slide infinite linear;
    }

    .logos-slide img{
      height: 70px;
      margin: 0 65px;
    }

    .logos:hover .logos-slide{
      animation-play-state: paused;
    }

    @keyframes slide{
      from{
        transform: translateX(0);
      }
      to{
        transform: translateX(-100%);
      }
    }